body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
}

.gradient-div {
    background: linear-gradient(to right, #4caf50, #8bc34a);
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.centered-title {
    color: white;
    font-size: 3em;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .gradient-div{
        width: 70%;
        height: 450px;
    }
    
    .centered-title {
    color: white;
    font-size: 3.5em;
    text-align: center;
    }
}
